.row {
    display: flex;
    height: 100px;
    /* border: 1px solid grey; */
}
.row > div.col-3, div.col-2 {
    flex: 1;
    background: lightgrey;
    border: 1px solid grey;
}
span.statement {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
td {
    padding: 0 10px 0 10px;
}
.hline{
    width: 70px;
    height: 50px;
    border-bottom: 3px solid black;
    position: absolute;
}
.vl_line{
    width: 47px;
    height: 147px;
    border-left: 3px solid black;
    position: absolute;

    content:"";
    width:40px;
    transform: rotate(30deg);
    transform-origin: 0% 0%;
}
.vr_line{
    width: 47px;
    height: 147px;
    border-left: 3px solid black;
    position: absolute;

    content:"";
    width:40px;
    transform: rotate(330deg);
    transform-origin: 0% 0%;
}
.t1d_line{
    height: 180px;
    border-left: 1px dashed black;
    position: absolute;
    left: 0px;
    /* visibility: hidden; */
    transform: rotate(85deg);
    transform-origin: 0% 0%;
}
.t2d_line{
    height: 450px;
    border-left: 1px dashed black;
    position: absolute;
    left:0px;
    /* visibility: hidden; */
    transform: rotate(47deg);
    transform-origin: 0% 0%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }