.row {
    display: flex;
    height: 100px;
    /* border: 1px solid grey; */
}
.row > div.col-3, div.col-2 {
    flex: 1;
    background: lightgrey;
    border: 1px solid grey;
}
span.statement {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
td {
    padding: 0 10px 0 10px;
}
.hline{
    width: 70px;
    height: 50px;
    border-bottom: 1px solid black;
    position: absolute;
}
.vl_line{
    width: 47px;
    height: 147px;
    border-left: 1px solid black;
    position: absolute;

    content:"";
    width:40px;
    transform: rotate(30deg);
    transform-origin: 0% 0%;
}
.vr_line{
    width: 47px;
    height: 147px;
    border-left: 1px solid black;
    position: absolute;

    content:"";
    width:40px;
    transform: rotate(330deg);
    transform-origin: 0% 0%;
}
.t1d_line{
    height: 180px;
    border-left: 1px dashed black;
    position: absolute;
    left: 0px;
    /* visibility: hidden; */
    transform: rotate(85deg);
    transform-origin: 0% 0%;
}
.t2d_line{
    height: 450px;
    border-left: 1px dashed black;
    position: absolute;
    left:0px;
    /* visibility: hidden; */
    transform: rotate(47deg);
    transform-origin: 0% 0%;
}
